body{
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 100%;
    padding-top: 200px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
    position: fixed;
    display: block;
    bottom: 45%;
}
.aside{
    margin: 5px 0px 5px 0px;
}
#slideup{
    height: 50px;
    overflow: hidden;
    margin-bottom: 5px;
}
#slideup>div>div{
    height: 39px;
    width: 30%;
    padding: 5px 12px;
    margin-bottom: 45px;
    display: inline-block;
}
#slideup div:first-child{
    animation: slider 4s linear infinite;
}
#slideup div div{
    background: rgb(255, 0, 0);
}
#slideup div:first-child div{
    background: blue;
}
#slideup div:last-child div{
    background: rgb(1, 255, 64);
}
@keyframes slider{
    0%{ margin-top: -270px;}
    17%{margin-top: -175px;}
    33%{ margin-top: -175px;}
    46%{margin-top: -80px;}
    67%{margin-top: -80px;}
    85%{margin-top: 0px;}
    99.9%{margin-top: 0px;}
    100%{margin-top: -270px;}
}

